/* Switch to box sizing */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* TODO: Consider moving to em/rem for better responsive font sizing */
$base-font-size: 13px;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
  background-image: url('/resources/graphics/background_@2x.png');
}

$side-padding: 20px;

/* Root element in which we render React */
.content {
  display: flex;
  justify-content: center;
}

/* Wraps all of the content of our app inside the content div 
 * Columnar flex layout with a min height */
// https://css-tricks.com/using-flexbox/
.page-wrap {
  background-color: white;
  box-shadow: 0 0 7px 2px #CCCCCC;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

/* Add side margins and set the width on larger screens */
@media (min-width: 1000px) {
  .page-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    max-width: 1500px;
    width: 90%;
  }
}

/* Could use a more descriptive name: the div containing the 
 * filter and results panels */
.main-section {
  display: flex;
  flex: 1;
  flex-direction: row;
}

/**** Search bar styles ****/

/* Outer search bar container */
.search-bar {
  display: flex; 
  width: 100%;
}

.search {
  background-color: #1C688E;
  flex: 1;
  padding: $side-padding;
}

/* Search bar input */
.search input {
  width: 100%;
  height: 30px;

  border-style: solid;
  border-color: #D6D6D6;
  border-radius: 3px;
  margin: 0px;
  font-size: $base-font-size+3;
  padding-left: 10px;
}

/**** Filter panel styles ****/

/* Filter panel container */
.filter-panel {
  flex: 1;
  border-right: solid;
  border-color: #E6E6E6;
  padding: $side-padding;

  max-width: 30%;
  width: 30%;
  min-height: 100%;
}

// Horizontal space to the side of filter items
$filter-item-padding: 15px;

.food-type-filter-item,
.payment-option,
.star-filter-item {
  padding-left: $filter-item-padding;
  padding-right: $filter-item-padding;
  padding-top: 2px;
  padding-bottom: 2px;
}

// Filter item highlight and selection style
.food-type-filter-item:hover,
.star-filter-item:hover,
.payment-option:hover,
.selected-filter {
  background: #2897C5;
  border-radius: 4px;
  cursor: pointer;

  .cuisine-name,
  .cuisine-filter-count,
  .payment-option {
    color: white;
  }
}

/* Cuisine type count */
.cuisine-filter-count {
  float: right;
  color: #C7C7C7;
}

.star-filter-item img {
  width: 25px;
}

/**** Search results panel styles ****/

/* Results panel container */
.results-panel {
  display: flex;
  flex-direction: column;
  padding: $side-padding;
  min-height: 100%;
  width: 70%;
}

/* X results found text */
.results-found-bar em {
  font-weight: bold;
  font-style: normal;
  font-size: $base-font-size+3;
}

/* Panel containing the vertical list of individual query results */
.results-list-panel {
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

/* Draw the dividing line to the right of the results found text;
 * somewhat of a hack; would love suggetions for improvement */
.results-count:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #D6D6D6;
  width: 35%;
  height: 2%;
  margin-left: 15px;
}

// A bottom-aligned bar that contains the Show More button
.show-more-bar {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.showMoreBtn {
  position: relative;
  top: 0;
  width: 170px;
  height: 45px;
  background: #FFFFFF;
  color: #7F7F7F; 
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 6px;
  font-size: $base-font-size+3;
}

.showMoreBtn:hover {
  background:#2897C5;
  color: white;
}

.showMoreBtn:active  {
  background:#1C688E;
}

/* Container panel for a single search result.
 * flex layout in a row */
.search-result {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.search-result img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

/* Container for the text on the right side of a search-result panel */
.result-details {
  padding-left: 25px;
  vertical-align: top;
}

.result-details h4 {
  margin-top: 0px;
  font-size: $base-font-size+7;
  font-weight: bold;
}

.star-count {
  font-size: $base-font-size+5;
  color: #FFAB66;
}

$resultInfoColor: #ABABAB;

.reviews-count {
  font-size: $base-font-size+3;
  color: $resultInfoColor;
}

/* Could use a better name. The location, cuisine type, and price text in a searhc-result */
.result-info-subtitle {
  font-size: $base-font-size+3;
  color: $resultInfoColor;
}