/* https://zellwk.com/blog/responsive-grid-system/ */
/* line 12, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 16, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
html {
  box-sizing: border-box; }

/* line 20, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-image: url("/resources/graphics/background_@2x.png"); }

/* line 29, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.content {
  display: flex;
  justify-content: center; }

/* line 35, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.page-wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 7px 2px #CCCCCC;
  min-height: 500px; }

@media (min-width: 1000px) {
  /* line 57, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
  .page-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
    max-width: 1500px; } }

/* line 73, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.search-bar {
  width: 100%;
  display: flex; }

/* line 79, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.search {
  flex: 1;
  background-color: #1C688E;
  padding: 20px; }

/* line 85, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.search input {
  width: 100%;
  height: 30px;
  border-style: solid;
  border-color: #D6D6D6;
  border-radius: 3px;
  font-size: 16px;
  padding-left: 10px;
  margin: 0px; }

/* line 97, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.main-section {
  flex: 1;
  display: flex;
  flex-direction: row; }

/* line 103, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.filter-panel {
  flex: 1;
  width: 30%;
  max-width: 30%;
  padding: 20px;
  border-right: solid;
  border-color: #E6E6E6;
  min-height: 100%; }

/* line 113, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.results-panel {
  display: flex;
  width: 70%;
  padding: 20px;
  min-height: 100%;
  flex-direction: column; }

/* line 121, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.results-list-panel {
  display: flex;
  flex-direction: column;
  min-height: 80%; }

/* line 127, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.results-found-bar em {
  font-weight: bold;
  font-style: normal;
  font-size: 16px; }

/* line 137, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.results-count:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #D6D6D6;
  width: 35%;
  height: 2%;
  margin-left: 15px; }

/* line 147, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.show-more-bar {
  display: flex;
  flex: 1 0 auto;
  justify-content: center; }

/* line 153, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.showMoreBtn {
  position: relative;
  top: 0;
  color: #7F7F7F;
  width: 170px;
  height: 45px;
  border-style: solid;
  border-color: #E6E6E6;
  background: #FFFFFF;
  border-radius: 6px;
  font-size: 16px; }

/* line 166, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.showMoreBtn:hover {
  background: #2897C5;
  color: white; }

/* line 171, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.showMoreBtn:active {
  background: #1C688E; }

/* line 178, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.food-type-filter-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px; }

/* line 185, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.food-type-filter-item:hover,
.star-filter-item:hover,
.payment-option:hover,
.selected-filter {
  background: #2897C5;
  border-radius: 4px;
  cursor: pointer; }

/* line 194, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.food-type-filter-item:hover .cuisine-name,
.food-type-filter-item:hover .cuisine-filter-count,
.payment-option:hover,
.selected-filter .cuisine-name,
.selected-filter .cuisine-filter-count,
.selected-filter .payment-option {
  color: white; }

/* line 207, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.cuisine-filter-count {
  float: right;
  color: #C7C7C7; }

/* line 212, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.payment-option,
.star-filter-item {
  padding-left: 15px;
  padding-bottom: 5px; }

/* line 218, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.star-filter-item img {
  width: 25px; }

/* line 222, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.search-result {
  display: flex;
  flex-direction: row;
  padding-top: 25px; }

/* line 228, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.search-result img {
  width: 100px;
  height: 100px;
  border-radius: 4px; }

/* line 234, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.result-details {
  padding-left: 25px;
  vertical-align: top; }

/* line 239, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.result-details h4 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold; }

/* line 245, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.star-count {
  font-size: 18px;
  color: #FFAB66; }

/* line 250, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.reviews-count {
  font-size: 18px;
  color: #ABABAB; }

/* line 255, C:/Users/nathan/Documents/jobhunt-2016/algolia/assets/scss/main.scss */
.result-info-subtitle {
  font-size: 18px;
  color: #ABABAB; }

/*# sourceMappingURL=../../scss */